
/*  contains css used accross every page 
    this includes mainly navbar and footer
*/

p {
    font-size: 20px;
}

a {
    color: inherit;
}

/* navbar css */
#top-nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}

#circleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 50%;
    border-color: white;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 100px;
}

.main-nav {
    border-bottom: 1px solid rgb(122, 121, 128);
    padding-bottom: 10px
}

/* sticky footer css */
html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    border-top: 2px solid rgb(122, 121, 128);
    flex-shrink: none;
}

#footer-text {
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    text-align: right !important;
}

.foot-link {
    margin-right: 15px;
}