
/* title */

.title {
  padding: 5px;
  text-align: center;
}

.title > h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 65px;
  border-bottom: 3px dotted #2c3e50;;
}

.title > p {
  font-size: 25px;
  line-height: 40px;
}

.heading {
  padding: 5px;
  text-align: center;
}

.heading > h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 55px;
}

/* gallery */

.gallery > .row {
  margin-right: 0;
  margin-left: 0;
}

#cards {
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
    width: auto;
}

#card {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#card:hover {
  position: relative;
  width: 85%;
  height: calc(auto+5%);
  display: block;
  z-index: 999;
}


