
/* contains index css */

/* fly in text */
#title-container{
    position: relative;
    height: 65vh;
    white-space:nowrap;
   }
   
   .title-animation{
     list-style: none;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
     width: 100%;
     padding: 0%;
   }
   
   .title-animation li{
     display: inline-block;
     margin-right: 50px;
     font-weight: 100;
     font-size: 4em;
     color: #fff;
     opacity: 1;
     transition: all 2.6s ease;
   }
   
   .ftitle-animation li:last-child{
     margin-right: 0;
   }

   @media(max-width: 1150px) {
       .title-animation li{
        font-size: 1em;
        }

    }

    @media(max-width: 1150px) {
        .title-animation li{
         font-size: 2em;
         }
 
     }
   
   .title-animation.hidden li{
     opacity: 0;
   }
   
   .title-animation.hidden li:nth-child(1){transform: translateX(-180px) translateY(-40px);}
   .title-animation.hidden li:nth-child(2){transform: translateX(-50px) translateY(200px);}
   .title-animation.hidden li:nth-child(3){transform: translateX(-150px) translateY(-200px);}
   .title-animation.hidden li:nth-child(4){transform: translateX(-100px) translateY(200px);}
   .title-animation.hidden li:nth-child(5){transform: translateX(-70px) translateY(-160px);}
   .title-animation.hidden li:nth-child(6){transform: translateX(80px) translateY(200px);}
   .title-animation.hidden li:nth-child(7){transform: translateX(50px) translateY(-140px);}
   .title-animation.hidden li:nth-child(8){transform: translateX(60px) translateY(200px);}
   .title-animation.hidden li:nth-child(9){transform: translateX(180px) translateY(40px);}
   

   
/* carousel css */

#title {
    position: absolute;
    bottom: 480%;
    left: calc(50% - 105px);
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media(max-width: 1210px) {
    #title {
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}

.carousel-inner>.carousel-item {
    height: 800px;
}

@media(max-width: 1210px) {
    .carousel-inner>.carousel-item {
        height: auto;
    }
}

/* title */

.title {
    padding: 5px;
    text-align: center;
}

.title > h1 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 65px;
    border-bottom: 3px dotted #2c3e50;;
}

.title > p {
    font-size: 25px;
    line-height: 40px;
}

/* card hover css */
#cardExamples {
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
    width: auto;
}

.example-card {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */
    margin-bottom: 5px;
}

.example-card:hover {
    position: relative;
    width: 85%;
    height: calc(auto+5%);
    display: block;
    z-index: 999;
    /*
    box-shadow: 0px 0px 20px black;
    */  
}

/* screenshot with download button */
    .screenshot {
        margin-top: 30px;
        position: relative;
        width: 100%;
        height: 200px;
        background-image: url("../images/power-plant.png");
    }

    .btn {
        /* centers button on image */
        position:absolute;
        left:49%;
        top:50%;
        margin-left:-33px;
        margin-top:-9px;
        z-index: 2; 

        background: white !important;
        border: none;
        color: black !important;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
      }
      
      /* Darker background on mouse-over */
      .btn:hover {
        background: whitesmoke !important;
      }

/* development */

    .development {
        padding: 5px;
        text-align: center;
    }
    
    .development > h1 {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 55px;
    }
    
    .development > p {
        font-size: 25px;
        line-height: 40px;
    }

    .development-logos {
        margin-top: auto;
        margin-bottom: auto ;
    }
    
    .resource {
        margin: auto;

    }

    #resource-list, #resource-text {
       padding: 0;
       margin-left: 0px;
       margin-right: 0px;
    } 

    .development-logos {
        max-width: 150px;
        height: auto;
    }

    .resource-description {
        margin-top: 0;
    }

@media(max-width: 420px) {
    .title > h1, .development > h1{
        font-size: 40px;
    }
    .title > p, .development > p {
        font-size: 20px;
    }

}

@media(max-width: 295px) {
    .title > h1, .development > h1{
        font-size: 30px;
    }
    .title > p, .development > p {
        font-size: 20px;
    }

}

@media(max-width: 1250px) {
    .btn {
      left:48%;
    }
  }

@media(max-width: 1050px) {
    .btn {
      left:47%;
    }
  }

@media(max-width: 540px) {
    .btn {
      left:46%;
    }
  }

    @media(max-width: 470px) {
      .btn {
        left:45%;
      }
    }
      @media(max-width: 350px) {
        .btn {
          left:44%;
      }
    }

    @media(max-width: 310px) {
      .btn {
        left:43%;
    }
  }

  @media(max-width: 270px) {
    .btn {
      left:42%;
  }
}